html, body {
  height: 100%;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

a, a:visited, a:hover{
  color: black;
}

.Content {
  flex: 1 0 auto;
}

.Hidden {
  display: none;
}

.Footer {
  margin-top: 32px;
  flex-shrink: 0;
  border-top: 1px solid black;
}

h2 {
  font-size: 16px;
}

.Uploader {
  display: block;
  padding-bottom: 20px;
}